html {
	background-color: white; //#002266;
	padding: 0;
}

body {
	margin: 0px;
}

div.page.holder {
	background-color: white; //#ffffe6; 
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
	background-color: white; //#66c2ff;
	border-bottom: 1px solid black;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
	display: inline
}
