html {
	background-color: white; //#002266;
	padding: 0;
	font-family: courier new;
}

body {
	margin: 0px;
	text-align: center;
}

div.page.holder {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	border-radius: 15px;
	border: solid black 1px;
	background-color: white; //#ffffe6;
	margin-top: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
	background-color: white; //#66c2ff;
	border-bottom: 1px solid black;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
	display: inline
}

div.showcase {
	text-indent: 2em;
	padding: 0px 25px;
	text-align: justify;
}

footer {
	padding: 10px;
	border-top: black solid 1px:
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1.event.title {
	margin-bottom: 0;
	text-indent: 0;
	text-align: center;
}

hr.showcase.rule {
	border-top: dashed 1px;
}

div.thumbnail {
  border: solid black 1px;
  height: 240px;
  width: 200px;
  text-indent: 0;
  margin-left: auto;
  margin-right:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail-image {
  height: 160px;
}

#projects {
	text-align: center;
}

#profile-table {
	margin-left: auto;
	margin-right: auto;
}

.nav-link {
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-link:visited {
	color: black;
}

.nav-link:hover {
	color: red;
}

.logo {
	position: fixed;
	left: 20px;
	top: 0;
	margin: 0;
	padding:10px;
	font-weight: bold;
}


