---
title: Maxwell Powell
---
<div class="container">
  <div class="row">
    <div class="header">
      <h4>Maxwell Powell</h4>
      <p>
        [ <a href="#" id="bio-toggle"> bio</a> ]
        [ <a href="#" id="proj-toggle"> projects</a> ]
        [ <a href="#" id="prof-toggle"> profiles</a> ]
      </p>
    </div>
    <div class="content" id="bio-content">
      <p>Information about me</p>
    </div>
    <div class="content" id="proj-content">
      <p>Infortmation about projects</p>
    </div>
    <div class="content" id="prof-content">
      <p>Infortmation about profiles</p>
    </div>
  </div>
</div>
<footer>powered by middleman and skeleton</footer>
