---
title: Maxwell Powell
---
<div class="container">
  <div class="row">
    <div class="header">
      <h4>Maxwell Powell</h4>
      <p>
        [ <a href="#" id="bio-toggle"> bio</a> ]
        [ <a href="#" id="proj-toggle"> projects</a> ]
        [ <a href="#" id="prof-toggle"> profiles</a> ]
      </p>
    </div>
    <div class="content" id="bio-content">
      <p>I'm Maxwell. I'm a junior at Ohio State University studying Computer Science and Engineering with a focus in Software Engineering</p>
    </div>
    <div class="content" id="proj-content">
      <h5>Projects:</h5>
      <% data.projects.each do |p| %>
      <p><%= link_to p.name, p.link %></p>
      <p><%= p.description %></p>
      <br>
      <% end %>
    </div>
    <div class="content" id="prof-content">
      <p>Infortmation about profiles</p>
    </div>
  </div>
</div>
